<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <meta name="keywords" content="さいころころがしシミュレーター" />
  <meta name="description" content="さいころころがしシミュレーター" />
  <meta name="theme-color" content="#4285f4">
  <meta name="format-detection" content="telephone=no">

  <meta name="msapplication-square70x70logo" content="/favicons/site-tile-70x70.png">
  <meta name="msapplication-square150x150logo" content="/favicons/site-tile-150x150.png">
  <meta name="msapplication-wide310x150logo" content="/favicons/site-tile-310x150.png">
  <meta name="msapplication-square310x310logo" content="/favicons/site-tile-310x310.png">
  <meta name="msapplication-TileColor" content="#0078d7">
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicons/favicon.ico">
  <link rel="icon" type="image/vnd.microsoft.icon" href="/favicons/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="36x36" href="/favicons/android-chrome-36x36.png">
  <link rel="icon" type="image/png" sizes="48x48" href="/favicons/android-chrome-48x48.png">
  <link rel="icon" type="image/png" sizes="72x72" href="/favicons/android-chrome-72x72.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicons/android-chrome-96x96.png">
  <link rel="icon" type="image/png" sizes="128x128" href="/favicons/android-chrome-128x128.png">
  <link rel="icon" type="image/png" sizes="144x144" href="/favicons/android-chrome-144x144.png">
  <link rel="icon" type="image/png" sizes="152x152" href="/favicons/android-chrome-152x152.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="256x256" href="/favicons/android-chrome-256x256.png">
  <link rel="icon" type="image/png" sizes="384x384" href="/favicons/android-chrome-384x384.png">
  <link rel="icon" type="image/png" sizes="512x512" href="/favicons/android-chrome-512x512.png">
  <link rel="icon" type="image/png" sizes="36x36" href="/favicons/icon-36x36.png">
  <link rel="icon" type="image/png" sizes="48x48" href="/favicons/icon-48x48.png">
  <link rel="icon" type="image/png" sizes="72x72" href="/favicons/icon-72x72.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicons/icon-96x96.png">
  <link rel="icon" type="image/png" sizes="128x128" href="/favicons/icon-128x128.png">
  <link rel="icon" type="image/png" sizes="144x144" href="/favicons/icon-144x144.png">
  <link rel="icon" type="image/png" sizes="152x152" href="/favicons/icon-152x152.png">
  <link rel="icon" type="image/png" sizes="160x160" href="/favicons/icon-160x160.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicons/icon-192x192.png">
  <link rel="icon" type="image/png" sizes="196x196" href="/favicons/icon-196x196.png">
  <link rel="icon" type="image/png" sizes="256x256" href="/favicons/icon-256x256.png">
  <link rel="icon" type="image/png" sizes="384x384" href="/favicons/icon-384x384.png">
  <link rel="icon" type="image/png" sizes="512x512" href="/favicons/icon-512x512.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/icon-16x16.png">
  <link rel="icon" type="image/png" sizes="24x24" href="/favicons/icon-24x24.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/icon-32x32.png">
  <link rel="manifest" href="/favicons/manifest.json">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://dice.genzouw.com/">
  <meta property="og:title" content="さいころころがしシミュレーター">
  <meta property="og:description" content="さいころころがしシミュレーター">
  <meta property="og:image" content="https://dice.genzouw.com/favicons/site-tile-150x150.png">
  <meta property="og:image:width" content="640">
  <meta property="og:image:height" content="640">
  <meta property="og:site_name" content="さいころころがしシミュレーター">
  <meta property="og:locale" content="ja_JP">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:domain" content="genzouw.com">
  <meta name="twitter:creator" content="@genzouw">
  <meta name="twitter:site" content="@genzouw">
  <title>さいころころがしシミュレーター</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-41583079-17"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-41583079-17');
  </script>
  <script data-ad-client="ca-pub-6278393724888948" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <a class="navbar-brand" href="/"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">さいころころがしシミュレーター</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid" id="app">
    <h2>さいころをころがしてみよう！</h2>

    <hr>

    <h3>実験の準備</h3>

    <div class="row">
      <div class="col-sm-12 mb-3">
        <div class="form-row">
          <div class="form-group col-sm-6">
            <label>さいころの面数</label>
            <div class="input-group">
              <input type="number" placeholder="面のかず" class="form-control" v-model="numberOfFaces" style="text-align: right;" />
              <div class="input-group-append">
                <span class="input-group-text">面</span>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-6">
            <label>さいころをふる回数</label>
            <div class="input-group">
              <input type="number" placeholder="さいころをふる回数" class="form-control" v-model="totalNumberOfTrials" style="text-align: right;" />
              <div class="input-group-append">
                <span class="input-group-text">回</span>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="row justify-content-center">
      <div class="col-auto">
        <button class="btn btn-primary" @click="execute">{{ isRunning ? `実験中 ( ${this.cumulativeNumberOfTrials()} / ${this.totalNumberOfTrials} )` : "実験開始" }}</button>
      </div>
    </div>

    <hr>

    <h3>実験の結果</h3>

    <div class="row mb-3">
      <div class="col-sm-12">
        <div class="progress">
          <div style="transition:none;" class="progress-bar bg-info" role="progressbar" v-bind:style="{ width: 100*this.cumulativeNumberOfTrials()/this.totalNumberOfTrials + '%' }" v-bind:aria-valuenow="this.cumulativeNumberOfTrials()" aria-valuemin="0" v-bind:aria-valuemax="this.totalNumberOfTrials"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <table class="table table-striped table-bordered table-condensed">
          <colgroup>
            <col>
            <col style="width: 10%;">
            <col style="width: 70%;">
          </colgroup>
          <thead>
            <tr>
              <th style="text-align: center;">目のかず</th>
              <th style="text-align: center;">回</th>
              <th style="text-align: center;"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="i in parseInt(numberOfFaces)" :key="i">
              <td>
                {{ "●".repeat(i) }}
              </td>
              <td style="text-align: right;">{{ dice[i - 1] || 0 }}</td>
              <td>
                <div style="float: left; background-color: #44c;" :style="{ width: (4 * 100 * (dice[i - 1] || 0)/totalNumberOfTrials) + '%' }">&nbsp;</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <footer class="page-footer font-small bg-dark text-light">
    <div class="footer-copyright text-center py-3">
      <p>Copyright © 2019- genzouw All Rights Reserved.</p>
      <p>( twitter:<a href="https://twitter.com/genzouw">@genzouw</a> , facebook:<a href="https://www.facebook.com/genzouw">genzouw</a>, mailto:<a href="mailto:genzouw@gmail.com">genzouw@gmail.com</a> )</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="main.js"></script>
</body>

</html>
